<h1>Edit user</h1>
<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>Name: <%= f.text_field(:name, {:class => 'form-control'})%><br></p>
  <p>Surname: <%= f.text_field(:surname, {:class => 'form-control'})%><br></p>
  <p>Fathername: <%= f.text_field(:fathername,{:class => 'form-control'})%><br></p>
  <p>Birthday: <%= f.date_field(:birthday,{:class => 'form-control'})%><br></p>
  <p>Sex: <%= f.select(:sex, options_for_select([['Male', 'Male'], ['Famale', 'Famale']]),
                       {:class => 'form-control'})%><br></p>
  <p>Passport Series: <%= f.text_field(:passport_series, {:class => 'form-control'})%><br></p>
  <p>Passport ID: <%= f.number_field(:passport_id, {:class => 'form-control'})%><br></p>
  <p>Identification number: <%= f.text_field(:identification_number, {:class => 'form-control'})%><br></p>
  <p>City: <%= f.select(:city, options_for_select([['Gomel', 'Gomel'], ['Minsk', 'Minsk'],
                                                   ['Brest', 'Brest'], ['Grodno', 'Grodno'],
                                                   ['Bitebsk', 'Vitebsk'], ['Polotsk', 'Polotsk']]),
                        {:class => 'form-control'})%>
    Nationality: <%= f.select(:nationality, options_for_select([['Belarus', 'Belarus'],
                                                                ['Russian', 'Russian'], ['Ukrainian', 'Ukrainian'],
                                                                ['Japanese', 'Japanese'], ['British', 'British'],
                                                                ['Chinese', 'Chinese']]),
                              {:class => 'form-control'})%><br></p>
  <p>Address: <%= f.text_field(:address, {:class => 'form-control'})%><br></p>
  <p>Home telephone: <%= f.telephone_field(:home_telephone, {:class => 'form-control'})%><br></p>
  <p>Mobile telephone: <%= f.telephone_field(:mobile_telephone, {:class => 'form-control'})%><br></p>
  <p>Email: <%= f.email_field(:email,{:class => 'form-control'})%><br></p>
  <p>Work position: <%= f.text_field(:work_position, {:class => 'form-control'})%><br></p>
  <p><%= f.submit({:class => 'btn btn-success'}) %></p>
<% end %>